# ASIO Files
asio/

# Media files
trainingModels/
facialrecognitionmodels/
*.h5
*.jpg
# Audio Dependency
src/main/resources

# IDE,
out/
build/
*.iml
.gradle/
.idea/

# Eclipse, also an IDE
.classpath
.project
.settings/
bin/

# OSX
.DS_Store
