# ASIO Files
asio/

# Media files
trainingModels/
facialrecognitionmodels/
*.h5
*.wav
*.m4v
*.jpg
# Audio Dependency
resources/audio/

# IDE,
out/
build/
*.iml
.gradle/
.idea/

# Eclipse, also an IDE
.classpath
.project
.settings/
bin/
