# ASIO Files
asio/
/logs

# Media files
trainingModels/
facialrecognitionmodels/
*.h5
*.jpg
# Audio Dependency
src/main/resources/video
src/main/resources/audio
src/main/resources/media

# IDE,
out/
build/
*.iml
.gradle/
.idea/

# Eclipse, also an IDE
.classpath
.project
.settings/
bin/

# OSX
.DS_Store

# Log files
logs.txt
