<?xml version="1.0" encoding="UTF-8"?>
<config>
	<media>
	    <video>media/film.m4v</video>
	    <audio>media/ambient.wav</audio>
	</media>
	
	<workflow>
	    <level id="level1">
	       	<start>01:47.110</start>
	        <end>02:03.000</end>
	        <branch id="branch1">
	            <emotion>anger</emotion>
	            <start>02:03.010</start>
	            <end>02:19.020</end>
	            <outcome>end</outcome>
	        </branch>
	        <branch id="branch2">
	            <emotion>fear</emotion>
	            <start>02:19.030</start>
	            <end>02:34.080</end>
	            <outcome>end</outcome>
	        </branch>
	        <branch id="branch3">
	            <emotion>calm</emotion>
	            <start>02:34.090</start>
	            <end>02:50.160</end>
	            <outcome>level2</outcome>
	        </branch>               
	    </level>
	    <level id="level2">
	       	<start>03:06.000</start>
	        <end>03:28.160</end>
	        <branch id="branch1">
	            <emotion>anger, fear</emotion>
	            <start>03:28.170</start>
	            <end>04:04.000</end>
	            <outcome>end</outcome>
	        </branch>
	        <branch id="branch2">
	            <emotion>calm</emotion>
	            <start>04:04.010</start>
	            <end>04:19.230</end>
	            <outcome>level3</outcome>
	        </branch>             
	    </level>
	    <level id="level3">
	       	<start>04:19.240</start>
	        <end>05:03.000</end>
	        <branch id="branch1">
	            <emotion>anger, fear</emotion>
	            <start>05:03.010</start>
	            <end>05:09.800</end>
	            <outcome>level4</outcome>
	        </branch>
	        <branch id="branch2">
	            <emotion>calm</emotion>
	            <start>05:10.000</start>
	            <end>05:16.000</end>
	            <outcome>end</outcome>
	        </branch>             
	    </level>   
	    <level id="level4">
	       	<start>05:17.000</start>
	        <end>07:07.140</end>
	        <branch id="branch1">
	            <emotion>fear</emotion>
	            <start>07:07.150</start>
	            <end>07:28.190</end>
	            <outcome>end</outcome>
	        </branch>
	        <branch id="branch2">
	            <emotion>anger</emotion>
	            <start>07:28.200</start>
	            <end>07:55.190</end>
	            <outcome>end</outcome>
	        </branch>  
	        <branch id="branch3">
	            <emotion>calm</emotion>
	            <start>07:55.200</start>
	            <end>08:37.200</end>
	            <outcome>end</outcome>
	        </branch>                        
	    </level> 
	</workflow>
</config>